Q1. Covert a iteger to a floatig-poit umber.

In [2]:
num= 11
float_num = float(num)
print(float(num))

11.0

Q2. Covert a float to a iteger.

In [3]:
num= int(float(num))
print(num)

11

Q3. Covert a iteger to a string.

In [6]:
str_num= str(num)
print(str_num)
print(type(str_num))

11
<class 'str'>

Q4. Covert a list to a tuple.

In [7]:
list1=[1,2,"man"]
tup= tuple(list1)
print(tup)

(1, 2, 'man')

Q5. Covert a tuple to a list.

In [8]:
list1= list(tup)
print(list1)

[1, 2, 'man']

Q6. Covert a decimal number to binary.

In [12]:
float_num
bin(int(float_num))

'0b1011'

Q7. Covert a  non-zero number to boolean.

In [13]:
num=11
bool(num)

True